ul.colorblue li:nth-child(4){
    background-color: #2D97DB;
}
div.solorsystem {
    background: #444;
    box-sizing: border-box;
    padding: 20px 20px 50px 0;
    display: flex;
    justify-content: space-between;
}
div.solorsystem div {
    margin: auto 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: top;
}
div.sun {
    height: 164.32px;
    width: 164.32px;
    border-radius: 82.16px;
    font-size: 25px;
    display: inline-block;
    background-image: url(../素材库/sun2.jpg);
}
div.solorsystem a {
    display: block;
}
div.planet1 {
    height: 29.96px;
    width: 29.96px;
    border-radius: 14.98px;
    margin: auto;
    background-image: url(../素材库/planet1.jpg);
       
}
div.solorsystem a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}
div.solorsystem a:focus {
    color: red;
}
div.solorsystem a:hover {
    color: yellow;
}
div.solorsystem div {
    margin: auto 10px auto 10px;
}
div.solorsystem div:nth-child(1) {
    margin: 0 10px 0 30px;
}
div.sun a {
    text-align: center;
}
div.planet1 a {
    font-size: 14.9px;
}
div.planet5 a {
    font-size: 21px;
}
div.planet6 a {
    font-size: 21px;
}
div.planet2 {
    height: 39.36px;
    width: 39.36px;
    border-radius: 19.68px;
    background-image: url(../素材库/planet2.jpg);   
}
div.planet3 {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-image: url(../素材库/planet3.jpg);
}
div.planet4 {
    height: 33.08px;
    width: 33.08px;
    border-radius: 16.54px; 
    background-image: url(../素材库/planet4.jpg);
}
div.planet5 {
    height: 82.8px;
    width: 82.8px;
    border-radius: 41.4px;
    background-image: url(../素材库/planet5.jpg);
}
div.planet6 {
    height: 80px;
    width: 157.75px;
    background-image: url(../素材库/planet6.png);
}
div.planet7 {
    height: 60.76px;
    width: 60.76px;
    border-radius: 30.38px; 
    background-image: url(../素材库/planet7.jpg);
}
div.planet8 {
    height: 60.16px;
    width: 60.16px;
    border-radius: 30.08px;
    background-image: url(../素材库/planet8.jpg);
}
.clearfix::before,
.clearfix::after {
    content: "";
    display:table;
}
.clearfix::after {
    clear: both;
}
div.setbgc {
    background-color: #666;
}
/* 上面是太阳系的部分 */
/* 下面是介绍和其他部分 */
div.banner{
    height: 400px;
    background-color: #666;
}
div.banner div.wrapper {
    height: 400px;
    background-color: #444;
    color: #F3F5F7;
}
div.wrapper div.bd {
    display: inline-block;
}
div.wrapper div.hd {
    background-image: url(../素材库/telescope.png);
    background-repeat: no-repeat;
    background-color: #444;
    background-position: 1060px 200px;
}
div.wrapper div.hd > div.bd,
div.wrapper div.hd ul {
    vertical-align: top;
}
div.wrapper h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-weight: 400;
}
div.wrapper ul {
    display: inline-block;
}
div.bd div {
    display: inline-block;
    height: 320px;
    vertical-align: top;
}
div.wrapper ul.left {
    padding: 10px 0;
    width: 200px;
    height: 320px;
}
div.wrapper ul.left li {
    display: block;
    
}
div.wrapper ul.left a {
    /* 块级：宽度是父级的100% */
    text-align: center;
    line-height: 50px;
    display: block;
    height: 50px;
    text-decoration: none;
    line-height: 46px;
    font-size: 20px;
    color: #fff;
}
div.wrapper ul.left a:hover {
    background-color: #666;
}
div.wrapper div.bd div.left {
    width: 840px;
}
div.wrapper div.bd div.right {
    width: 150px;
}
div.wrapper div.bd div.right a {
    width: 150px;
    height: 170px;
    margin-top: 170px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
div.wrapper div.bd div.right a:hover {
    color: yellow;
}